{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>MENTAL HEALTH DETECTION</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a type="button" class="btn btn-outline-light btn-lg mx-2" href="/login">Login</a>
                    <a type="button" class="btn btn-outline-light btn-lg mx-2" href="/signup">SignUp</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}